@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import 'vars';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $very-light-gray;
  font-family: $font-family;
  font-size: $font-size;
}

#app {
  .header {
    color: $very-light-gray;
    letter-spacing: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      width: 25px;
      aspect-ratio: 1 / 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
      &:hover {
        filter: brightness(0.85);
      }
    }
  }
  .input {
    padding: 1em;
    background-color: $very-light-gray;
    padding: $padding-y $padding-x;
    margin-bottom : 1.3 em;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    gap: $padding-x;
    input[type=text] {
      border: none;
      flex-grow: 2;
      background-color: $very-light-gray;
      font-size: $font-size;
      &:focus,
      &:focus-within {
        outline: none;
      }
    }
  }
  .list {
    background-color: $very-light-gray;
    border-radius: $border-radius;
    filter: drop-shadow(0 0 5px $dark-grayish-blue);
    .completed {
      text-decoration: line-through;
      color: $light-grayish-blue;
    }
    ul {
      list-style: none;
      padding: 0;
      padding-bottom: $padding-y / 5;
      li {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        padding: $padding-y $padding-x;
        border: 1px solid transparent;
        border-bottom-color: $light-grayish-blue;
        color: $very-dark-grayish-blue;
        span {
          flex-grow: 2;
        }
      }
    }
    .controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $light-grayish-blue;
      font-size: $font-size * (3/4);
      padding: 0 $padding-x $padding-y $padding-x;
      .filters {
        display: flex;
        flex-direction: row;
        gap: 1em;
        * {
          cursor: pointer;
          &:hover {
            color: $dark-grayish-blue;
          }
        }
        .active {
          color: $bright-blue;
        }
      }
    }
    .clear {
      cursor: pointer;
      &:hover {
        color: $dark-grayish-blue;
      }
    }
  }

  .mark {
    position: relative;
    height: 100%;
    input[type=checkbox] {
      opacity: 0;
      cursor: pointer;
    }
    input[type=checkbox] ~ .checkmark {
      position: absolute;
      inset: 0;
      border: 1px solid $light-grayish-blue;
      border-radius: 50%;
      pointer-events: none;
    }
    input[type=checkbox]:checked ~ .checkmark {
      background-repeat: no-repeat;
      background-position: center;
      border: none;
    }
  }

  .tip {
    text-align: center;
    margin: 3em 0;
    font-size: $font-size * (3/4);
    color: $light-grayish-blue;
  }
}